;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {8080 "public"}

 :dependencies
 [[org.clojure/core.async "1.6.673"]]

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn charts.frontend.app/init}}}}}
